@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  color: #e7dcdc;
  scroll-behavior: smooth;
}

@layer base {
  html {
    font-family: "poppins", system-ui, sans-serif;
  }
}

body {
  background-color: #222337;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #454547;
}

::-webkit-scrollbar-thumb {
  background: #1cc74f;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1e424;
}

.outlete {
  width: calc(100% - 250px);
}
.outlet {
  width: calc(100% - 80px);
}

.sing-up-free {
  background-image: url(./assets/images/signuporfree.png);
  background-size: cover;
}

.select__languages::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 30px;
  width: 10px;
  height: 10px;
  background-color: #33334d;
  rotate: 45deg;
}

.reach__level::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  rotate: 40deg;
  background-color: #242438;
  top: 7px;
  left: 22px;
}

.reach__level::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  rotate: 40deg;
  background-color: #242438;
  top: 7px;
  right: 22px;
}

.light__animation__one {
  animation: firstAnimation 300ms linear infinite alternate;
}
.light__animation__two {
  animation: secondAnimation 300ms linear infinite alternate;
}

@keyframes firstAnimation {
  from {
    background-color: #3d3d5f;
  }
  to {
    background-color: #01d676;
  }
}

@keyframes secondAnimation {
  from {
    background-color: #01d676;
  }
  to {
    background-color: #3d3d5f;
  }
}

.affiliate__background__left {
  background-image: url("./assets/images/coins-gray-left.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 300px;
}

@media (max-width: 760px) {
  .affiliate__background__left {
    background-image: url("./assets/images/coins-gray-left.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 400px;
  }
}
.stars__background {
  background-image: url("./assets/images/stars.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.sign__up__bonus::before {
  content: "";
  position: absolute;
  top: -5%;
  left: -12%;
  background-color: #222337;
  height: 70px;
  width: 80px;
  rotate: 70deg;
}
.sign__up__bonus::after {
  content: "";
  position: absolute;
  top: -5%;
  right: -12%;
  background-color: #222337;
  height: 70px;
  width: 80px;
  rotate: -70deg;
}

.activeElement {
  border: 1px solid #ffffff;
  animation: activeElementAnimation 1100ms infinite linear;
}

@keyframes activeElementAnimation {
  to {
    opacity: 0.3;
  }
}
.skeleton-animation {
  animation: skeleton 900ms linear infinite;
}
@keyframes skeleton {
  to {
    margin-left: 150%;
  }
}

.activeSelect {
  background-color: rgba(127, 216, 38, 0.692);
  color: black;
}

.active-guesscard {
  transition: all ease 300ms;
  transform: rotate(0deg);
  background-color: rgb(25, 90, 81);
}

.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(206, 201, 201, 0.2) 20%,
    rgba(201, 170, 170, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  -webkit-animation: shimmer 1000ms infinite;
  animation: shimmer 1000ms infinite;
  content: "";
}

@-webkit-keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
